<configuration>
<appSettings>
    <add key="autosave" value="True" />
    <add key="autosave interval" value="300" />
    <add key="autosave folder" value="C:\Program Files\NewVision Pro\Autosave" />
    <add key="tags" value="Age Group,Gender,White?,Buyer,Employee,Carry-on?,In store at start?,In store at end?,Associate contact,Number of Items,Basket Size,Product Interaction,Employee Contact,Talk on the Phone,Customer Contact,Dressing Room Visit,Try on before Mirror" />
    <add key="Age Group values" value="Unknown,Child,Teen,Adult" />
    <add key="Gender values" value="Unknown,Female,Male" />
    <add key="White? values" value="Unknown,Yes,No" />
    <add key="Buyer values" value="Unknown,Yes,No" />
    <add key="Employee values" value="Unknown,Yes,No" />
    <add key="Carry-on? values" value="Unknown,None,Shopping Bag,Other" />
    <add key="In store at start? values" value="Unknown,Yes,No" />
    <add key="In store at end? values" value="Unknown,Yes,No" />
    <add key="Associate contact values" value="Unknown,None,One,Two,Three" />
    <add key="Product Interaction values" value="#time#time" />
    <add key="Product Interaction #shortcut" value="1" />
    <add key="Employee Contact values" value="#time#time" />
    <add key="Employee Contact #shortcut" value="2" />
    <add key="Talk on the Phone values" value="#time#time" />
    <add key="Talk on the Phone #shortcut" value="3" />
    <add key="Dressing Room Visit values" value="#time#time" />
    <add key="Dressing Room Visit #shortcut" value="4" />
    <add key="Customer Contact values" value="#time#time" />
    <add key="Customer Contact #shortcut" value="5" />
    <add key="Try on before Mirror values" value="#time#time" />
    <add key="Try on before Mirror #shortcut" value="6" />
</appSettings>
</configuration>